@import "theme/TopNavigation";
@import "theme/LoginModel";
@import "theme/ToggleMenu";
@import "theme/ToggleMenuNonLogin";
@import "theme/ForgotPasswordForm";
@import "theme/UserDashboardPage";
@import "theme/HomePage";
@import "theme/UserCards";
@import "theme/ConfirmEmailMessage";
@import "theme/ConfirmationPage";
@import "theme/RegistrationForm";
@import "theme/UpdateUserProfileForm";
@import "theme/AdminDashboardPage";
@import "theme/Footer";
@import "theme/ResetPasswordForm";
@import "theme/FooterPage/AboutUsPage";
@import "theme/FooterPage/FAQPage";
@import "theme/FooterPage/ContactForm";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";
//@import "theme/FooterPage";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  a:any-link {
    text-decoration: none;
  }

  .modal-open {
    overflow: visible;
  }
}
