.ConfirmEmailMessageCont {
  width: 100%;
  align-items: center;
  background: #ffffff;

  .ConfirmEmailMessage {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 800px;
    margin: 250px auto;
    padding: 40px;
    border-radius: 13px;
    background: white;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
      //position: relative;
      color: #1d3b8b;
    }
    p {
      font-size: 28px;
      color: #969696;
    }
  }
}
