.ConfirmationPageCont {
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  position: relative;

  .ValidatingAndVerifiedCont {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 800px;
    position: relative;
    margin: 250px auto;
    padding: 40px;
    border-radius: 13px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .invalidToken {
    color: #da9446;
    margin: 50px auto;
  }
  .ValidatingCont {
    color: #da9446;
    margin: 50px auto;
  }
  .verifiedCont {
    margin: 30px auto;
    h1 {
      color: #da9446;
    }
    p {
      font-size: 28px;
      margin: 20px 0;
      color: #969696;
    }
  }
}
