.FooterCont {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .FooterContentBox {
    max-width: 1490px;
    width: 100%;
    margin: 45px auto 45px auto;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;

    .FooterContentItemOne {
      width: 60%;
      display: flex;
      justify-content: right;

      ul {
        margin: 0;
        padding: 0;
        width: 70%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        h3 {
          margin-bottom: 10px;
          color: #5c5c5c;
        }

        a {
          font-size: 20px;
          text-decoration: none;
          color: #969696;

          &:hover {
            color: #ec7f37;
            cursor: pointer;
          }
        }
      }
    }

    .FooterContentItemTwo {
      width: 35%;
      flex-direction: column;
      justify-items: self-start;

      h5 {
        margin-bottom: 10px;
        color: #5c5c5c;
      }

      p {
        margin-bottom: 10px;
        color: #5c5c5c;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
          margin-right: 20px;
        }

        a {
          text-decoration: none;
          color: #969696;

          &:hover {
            color: #ec7f37;
            cursor: pointer;
          }
        }
      }
    }
  }

  .mainLegalContainerFooter {
    width: 100%;
    background-color: #ec7f37;

    .legalContainerFooter {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      max-width: 1450px;
      margin: auto;
      color: #ffffff;

      div {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        color: #ffffff;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .FooterContentBox {
      width: 100%;
      max-width: 700px;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 20px;

      .FooterContentItemOne {
        width: 50%;

        ul {
          margin: 0;
          padding: 0;
          width: 70%;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          align-items: center;

          li {
            width: 50%;
            padding: 0;
            margin: 0;
            text-align: right;
            align-items: center;

            div {
              position: relative;
              top: -8px;
            }

            a {
              font-size: 20px;
              text-decoration: none;
              color: #969696;
              margin-left: 10px;

              &:hover {
                color: #ec7f37;
                cursor: pointer;
              }

            }
          }

        }
      }

      .FooterContentItemTwo {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .mainLegalContainerFooter {
      .legalContainerFooter {
        width: 100%;
        max-width: 700px;
        margin: auto;

        div {
          width: 60%;
          max-width: 500px;
          display: flex;
          justify-content: space-between;
          color: #ffffff;
        }
      }
    }
  }
  @media only screen and (max-width: 560px) {
    .mainLegalContainerFooter {
      .legalContainerFooter {
        padding: 0 20px 0 20px;
        display: flex;
        justify-content: space-between;

        div {
          width: 45%;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
  @media only screen and (max-width: 375px) {
    .mainLegalContainerFooter {
      padding: 20px;
      display: flex;
      text-align: center;

      .legalContainerFooter {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        div {
          width: 80%;
          display: flex;
          flex-wrap: wrap;

          h5 {
            width: 50%;
            font-size: 16px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .FooterContentBox {
      width: 100%;
      max-width: 325px;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      text-align: center;

      .FooterContentItemOne {
        width: 100%;

        ul {
          margin: 0;
          padding: 0;
          width: 70%;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          align-items: center;


          li {
            width: 50%;
            padding: 0;
            margin: 0;
            text-align: center;
            align-items: center;

            div {
              position: relative;
              top: -8px;
            }

            a {
              font-size: 20px;
              text-decoration: none;
              color: #969696;
              margin-left: 10px;

              &:hover {
                color: #ec7f37;
                cursor: pointer;
              }

            }
          }

        }
      }

      .FooterContentItemTwo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {
          display: flex;
          justify-content: space-evenly;
          padding: 0 30px 0 30px;
          li {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  //@media only screen and (max-width: 800px) {
  //  .FooterContentBox {
  //    width: 100%;
  //    max-width: 700px;
  //    margin: auto;
  //    padding-top: 20px;
  //    padding-bottom: 20px;
  //
  //    .FooterContentItemOne {
  //      width: 50%;
  //
  //      ul {
  //        margin: 0;
  //        padding: 0;
  //        width: 70%;
  //        list-style: none;
  //        display: flex;
  //        flex-wrap: wrap;
  //        flex: 1;
  //        align-items: center;
  //
  //        li {
  //          width: 50%;
  //          padding: 0;
  //          margin: 0;
  //          text-align: right;
  //          align-items: center;
  //
  //          div {
  //            position: relative;
  //            top: -8px;
  //          }
  //
  //          a {
  //            font-size: 20px;
  //            text-decoration: none;
  //            color: #969696;
  //            margin-left: 10px;
  //
  //            &:hover {
  //              color: #ec7f37;
  //              cursor: pointer;
  //            }
  //
  //          }
  //        }
  //
  //      }
  //    }
  //
  //    .FooterContentItemTwo {
  //      width: 45%;
  //      display: flex;
  //      flex-direction: column;
  //      justify-content: space-between;
  //    }
  //  }
  //  .mainLegalContainerFooter {
  //    .legalContainerFooter {
  //      width: 100%;
  //      max-width: 700px;
  //      margin: auto;
  //
  //      div {
  //        width: 60%;
  //        max-width: 500px;
  //        display: flex;
  //        justify-content: space-between;
  //        color: #ffffff;
  //      }
  //    }
  //  }
  //}
}

