.LoginCont {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  align-self: center;
  background: #ffffff;
  display: flex;
  justify-self: center;

  .loginForm {
    margin: auto;
    text-align: center;
    button {
      margin: auto;
      &:hover {
        background-color: rgba(236, 127, 55, 0.5);
        cursor: pointer;
      }
    }
    .passwordRequirements {
      width: 515px;
      //width: 400px;
      //text-align: center;
      margin: 0 auto 20px auto;
      .collapsedRequirements {
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        color: #5c5c5c;
        margin-top: 20px;
        .fas {
          font-size: 18px;
          margin-right: 5px;
          margin-left: 5px;
          color: #ec7f37;
        }
        button {
          font-size: 20px;
          color: #5c5c5c;
          background-color: none;

          &:hover {
            color: rgba(236, 127, 55, 0.5);
            cursor: pointer;
          }
        }
      }
      #example-collapse-text {
        list-style: none;
        text-align: left;
        color: #ec7f37;

        //margin: 10px auto 0 108px;
        li {
          line-height: 1.5;
        }
        .far {
          font-size: 12px;
        }
      }
    }
    .DropDownSelectRegistrationForm {
      font-size: 15px;
      font-weight: bold;
      width: 515px;
      margin: 10px;
      height: 50px;
      background-color: #ffffff;
      color: #5c5c5c;
      border-radius: 8px;
      border-color: #dfdce3;
      text-align-last: center;
      -webkit-appearance: none;
      outline: none;
      option {
        border: none;
        -webkit-appearance: none;
        outline-color: #ffffff;
        &:active {
          -webkit-appearance: none;
          outline-color: #ffffff;
          border: none;
        }
      }
      &:hover {
        background-color: rgba(236, 127, 55, 0.5);
        color: #ffffff;
        font-weight: bold;
        -webkit-appearance: none;
        outline: none;
        border: none;
        option {
          color: #5c5c5c;
          background-color: #ffffff;
          outline-color: #ffffff;
        }
      }
      @media (max-width: 630px) {
        width: 305px;
      }
    }
  }

  #dciLogoLogin {
    width: 180px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 0 20px;
  }

  .LoginModel {
    width: 100%;
    max-width: 630px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 250px auto;
    vertical-align: center;
    border: 1px solid #f6f5f3;
    border-radius: 15px;
    //box-shadow: 0 4px 8px 0 #f6f5f3;
    @media (max-width: 630px) {
      width: 400px;
    }

    .forgotPassDiv {
      font-weight: normal;
      font-size: 18px;
      margin: 0 0 30px 0;
      text-align: center;
      a {
        color: #5c5c5c;
        &:hover {
          color: rgba(236, 127, 55, 0.5);
        }
      }
    }

    input {
      width: 515px;
      @media (max-width: 630px) {
        width: 305px;
      }
      height: 50px;
      margin: 15px auto 0 0;
      padding: 10px;
      border: 1px solid #dfdce3;
      border-radius: 8px;
      font-weight: normal;
      font-size: 18px;
      color: #5c5c5c;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-weight: normal;
        font-size: 20px;
        color: #5c5c5c;
      }
    }

    button {
      color: #ffffff;
      width: 140px;
      height: 40px;
      font-size: 18px;
      //font-weight: bold;
      margin: 40px 0 20px 0;
      background: #ec7f37;
      border: none;
      border-radius: 7px;

      &:focus {
        outline: none;
      }

      a {
        text-decoration: none;
        font-weight: normal;
        font-size: 30px;
        color: #ffffff;
      }
    }
  }

  .nav-tabs {
    border: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    a:hover {
      color: rgba(236, 127, 55, 0.5);
      cursor: pointer;
    }
    .nav-link {
      border: none;
      width: 40%;
      height: 70px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      //border-top-left-radius: 5px;
      //border-top-right-radius: 5px;
      text-decoration: none;
      font-weight: normal;
      font-size: 30px;
      color: #5c5c5c;
    }

    .nav-link.active {
      //box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2),0 -5px 5px -150px rgba(0, 0, 0, 0.19);
      //border-bottom: 1px solid #ec7f37;
      //border-top-left-radius: 15px;
      //border-top-right-radius: 15px;
      text-decoration: none;
      font-weight: normal;
      font-size: 30px;
      color: #ec7f37;
    }
  }

  .tab-content {
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 0 2% 2%;
    //margin-top: -8px;
    //border: 1px solid #ec7f37;
  }

  .tab-content > .active {
    //padding: 60px 0 10px 0;
    display: block;
  }
}

@media only screen and (max-width: 722px) {
  .navigation {
    display: none;
  }
}
