.ResetCont {
  width: 100%;
  align-items: center;
  background: #ffffff;
  .resetform {
    margin: auto;
    text-align: center;
    .passwordRequirements {
      width: 515px;
      //width: 400px;
      //text-align: center;
      margin: 0 auto 20px auto;
      .collapsedRequirements {
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        color: #5c5c5c;
        margin-top: 20px;
        .fas {
          font-size: 18px;
          margin-right: 5px;
          margin-left: 5px;
          color: #ec7f37;
        }
        button {
          font-size: 20px;
          color: #5c5c5c;
          background-color: none;

          &:hover {
            color: rgba(236, 127, 55, 0.5);
            cursor: pointer;
          }
        }
      }
      #example-collapse-text {
        list-style: none;
        text-align: left;
        color: #ec7f37;

        //margin: 10px auto 0 108px;
        li {
          line-height: 1.5;
        }
        .far {
          font-size: 12px;
        }
      }
    }
  }

  #dciLogoLogin {
    width: 180px;
    height: 80px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 0 20px;
  }
  .ResetModel {
    width: 630px;
    margin: 250px auto;
    vertical-align: center;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #f6f5f3;
    border-radius: 15px;
    padding: 30px;
    @media (max-width: 630px) {
      width: 400px;
    }
    input {
      width: 515px;
      height: 50px;
      margin: 15px auto 0 0;
      padding: 10px;
      border: 1px solid #dfdce3;
      border-radius: 8px;
      font-weight: normal;
      font-size: 18px;
      color: #5c5c5c;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-weight: normal;
        font-size: 20px;
        color: #5c5c5c;
      }
      @media (max-width: 630px) {
        width: 305px;
      }
    }
    .Reset-Password {
      color: #ec7f37;
      font-size: 34px;
      width: 400px;
      text-align: center;
      margin: 0 auto 20px auto;
      .collapsedRequirements {
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        color: #5c5c5c;
        margin-top: 20px;

        .fas {
          font-size: 18px;
          margin-right: 5px;
          margin-left: 5px;
          color: #ec7f37;
        }
        a {
          font-size: 20px;
          color: #5c5c5c;
          &:hover {
            color: rgba(236, 127, 55, 0.5);
            cursor: pointer;
          }
        }
      }
      #example-collapse-text {
        list-style: none;
        text-align: left;
        margin: 10px auto 0 108px;
        li {
          line-height: 1.5;
        }
        .far {
          font-size: 12px;
        }
      }
    }

    button {
      color: #ffffff;
      width: 140px;
      height: 40px;
      font-size: 18px;
      margin: 40px auto 0 0;
      background: #ec7f37;
      border: none;
      border-radius: 7px;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgba(236, 127, 55, 0.5);
        cursor: pointer;
      }
      a {
        text-decoration: none;
        font-weight: normal;
        font-size: 30px;
        color: #ffffff;
      }
    }
  }
}
