.userProfileImage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //border-radius: 50%;
  border: 6px solid white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100%;
  height: 100%;

  .addHoverImg {
    visibility: hidden;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.73);

    img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    .addHoverImg {
      visibility: visible;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background: rgba(0, 0, 0, 0.73);
      background-image: url("../img/add-img.png");
      background-position: center center;
      background-size: 100px 100px;
      background-repeat: no-repeat;

      img {
        position: absolute;
        margin: auto;
      }
    }
  }
}

.UserPage {
  background: #ffffff;
  width: 100%;
  height: 100vh;

  .UserPageCont {
    .headerUserPage {
      max-width: 1450px;
      margin: 130px auto 0 auto;
      height: 100px;

      .updateProfileButton {
        background-color: #ffffff;
        border: none;
        padding: 0;
        margin-top: 30px;
        color: #da9446;
      }
    }

    .InfoCont {
      max-width: 1450px;
      margin: 0 auto 30px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .infoBoxCont {
        flex: 0 1 calc(33% - 1em);
        max-width: 460px;
        .SubBoxCont {
          height: 100%;
          //width: 600px;
          min-width: 300px;
          padding: 20px;
          border: 1px solid #e5e5e5;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          //margin: 10px;
        }
        .linksBoxItems {
          display: flex;
          flex-direction: column;
          img {
            width: 20px;
            height: 20px;
            border-radius: 10px;
          }

          .linksBoxItem {
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 10px;

            p {
              margin-left: 20px;
            }
          }

          a {
            display: flex;
            justify-items: center;
            cursor: pointer;

            &:hover {
              cursor: pointer;
              color: #ec7f37;
            }
          }

          h1 {
            font-family: Ropa Sans, sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 36px;
            color: #da9446;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .userImageUploadCont {
    label {
      width: 240px;
      height: 240px;
      margin: auto;
      display: block;

      &:hover {
        cursor: pointer;
      }

      input {
        width: 183px;
        visibility: hidden;

        &[type="file"] {
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  h2 {
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #da9446;
  }
  h3 {
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: rgba(29, 59, 139, 0.5);
  }

  h1 {
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #da9446;
  }

  p {
    margin: 0;
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #5c5c5c;
  }

  .profileInfoCont {
    //width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 30px;

    .profileInfoItem {
      text-align: left;
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      h4 {
        display: inline;
        font-weight: bold;
        color: #5c5c5c;
      }

      p {
        display: inline;
      }
    }

    h2 {
      margin-right: 20px;
      font-family: Ropa Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #da9446;
    }

    p {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }

  hr {
    margin: 20px;
    background-color: #da9446;
  }

  @media only screen and (max-width: 722px) {
    .UserPageCont {
      margin: auto;
      .headerUserPage {
        max-width: 400px;
        margin: 130px auto 0 auto;
        height: 100px;
        padding: 0;
      }

      /*.InfoCont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        .infoBoxCont {
          //margin: auto;
          width: 33%;
          .SubBoxCont {
            //min-width: 400px;
            margin-left: auto;
          }
        }
      }*/
    }
  }

  @media only screen and (max-width: 1750px) {
    .headerUserPage {
      padding: 0 30px;
    }
    /*.InfoCont {
      max-width: 1450px;
      width: 100%;
      padding: 0 30px;
      display: flex;
      //flex-wrap: wrap;
      margin: 0 auto 30px auto;
      //margin-left: auto;

      .infoBoxCont {
        //margin: auto;
        .SubBoxCont {
          min-width: 400px;
          margin-left: auto;
        }
      }
    }*/
  }
}
