.userProfileImage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 6px solid white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;

  .addHoverImg {
    visibility: hidden;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.73);

    img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    .addHoverImg {
      visibility: visible;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/add-img.png");
      background-position: center center;
      background-size: 100px 100px;
      background-repeat: no-repeat;

      img {
        position: absolute;
        margin: auto;
      }
    }
  }
}

.UserPage {
  background: #ffffff;
  width: 100%;
  min-height: 100vh;

  .UserPageCont {
    height: 100%;

    .headerUserPage {
      max-width: 1470px;
      margin: 130px auto 0 auto;
      height: 100px;
    }

    .InfoCont {
      width: 100%;
      margin: auto auto 100px auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 800px;

      .infoBoxCont {
        width: 442px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding: 30px;
        background: white;
        margin: 10px;
        .nestedInfoBoxCont {
          .linksBoxItems {
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            img {
              width: 20px;
              height: 20px;
              border-radius: 10px;
            }

            .linksBoxItem {
              display: flex;
              justify-content: left;
              align-items: center;
              margin-bottom: 20px;

              p {
                margin-left: 20px;
              }
            }

            a {
              display: flex;
              justify-items: center;
              cursor: pointer;

              &:hover {
                cursor: pointer;
                color: #ec7f37;
              }
            }

            h1 {
              font-weight: normal;
              font-size: 36px;
              color: #da9446;
              margin-bottom: 10px;
              text-align: center;
            }
          }
        }
      }
      .updateProfileButton {
        font-size: 16px;
        font-weight: bold;
        height: 50px;
        background-color: #ffffff;
        margin: 20px 5;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #ec7f37;
        color: #ffffff;
      }
    }

    .infoBoxContSecond {
      width: 50%;
      max-width: 1000px;
      background: white;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2%;

      .nestedInfoBoxCont {
        height: 100%;

        .linksBoxItems {
          display: flex;
          flex-direction: column;
          margin-top: 5%;
          img {
            width: 20px;
            height: 20px;
            border-radius: 10px;
          }

          .linksBoxItem {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-bottom: 20px;

            p {
              margin-left: 20px;
            }
          }

          a {
            display: flex;
            justify-items: center;
            cursor: pointer;

            &:hover {
              cursor: pointer;
              color: #ec7f37;
            }
          }

          h1 {
            font-weight: normal;
            font-size: 36px;
            color: #da9446;
            margin-bottom: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  .userImageUploadCont {
    label {
      margin: auto;
      display: block;

      &:hover {
        cursor: pointer;
      }

      input {
        width: 183px;
        visibility: hidden;

        &[type="file"] {
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  h2 {
    font-weight: normal;
    color: #da9446;
  }

  h3 {
    font-weight: normal;
    font-size: 30px;
    color: rgba(29, 59, 139, 0.5);
  }

  h1 {
    font-weight: normal;
    font-size: 36px;
    color: #da9446;
    text-align: center;
  }

  p {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #5c5c5c;
  }

  .profileInfoCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 30px;
    #profileName {
      text-align: center;
      font-size: 34px;
      color: #da9446;
    }
    .profileInfoItem {
      text-align: left;
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      h4 {
        display: inline;
        font-weight: bold;
        color: #5c5c5c;
      }

      p {
        display: inline;
      }
    }

    h2 {
      margin-right: 20px;
      font-weight: normal;
      color: #da9446;
    }

    p {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }
}

@media only screen and (max-width: 1750px) {
  .headerUserPage {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 978px) {
  .UserPage {
    width: 100%;
    min-height: 100vh;

    .userPageCont {
      min-height: 100vh;

      .InfoCont {
        min-height: 100vh;

        .infoBoxContSecond {
          width: 100%;
          max-width: 442px;
          background: white;
          margin: 10px;

          .nestedInfoBoxCont {
            max-width: 442px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 963px) {
  #infoBoxCont {
    border-right: none;
  }
}

@media only screen and (max-width: 768px) {
  .UserPage {
    width: 100%;
    min-height: 100vh;
    .UserPageCont {
      .InfoCont {
        height: 100%;
        min-height: 100vh;
        .infoBoxContSecond {
          width: 442px;
          min-height: 800px;
          background: white;
          border-radius: 19px;
          margin: 10px;

          .nestedInfoBoxCont {
            max-width: 442px;
            min-height: 380px;

            .linksBoxItems {
              width: 100%;
              max-width: 380px;

              .linksBoxItem {
                a {
                  p {
                    max-width: 340px;
                    word-wrap: break-word;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 722px) {
  .UserPageCont {
    margin: auto;

    .headerUserPage {
      max-width: 400px;
      margin: 130px auto 0 auto;
      height: 100px;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 320px) {
  .UserPage {
    width: 100%;
    min-height: 100vh;
    .UserPageCont {
      .InfoCont {
        height: 100%;
        min-height: 100vh;
        .infoBoxContSecond {
          width: 442px;
          min-height: 800px;
          background: white;
          border-radius: 19px;
          margin: 10px;
          padding: 30px;

          .nestedInfoBoxCont {
            width: 100%;
            max-width: 442px;
            min-height: 380px;

            .linksBoxItems {
              width: 100%;
              max-width: 380px;

              .linksBoxItem {
                a {
                  p {
                    max-width: 340px;
                    word-wrap: break-word;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
