.AboutUsPage {
  width: 100%;
  margin: 0;
  padding: 100px 0 0 0;

  header {
    padding-bottom: 4rem;
    padding-top: calc(50px + 2rem);
    text-align: center;

    h1 {
      text-decoration: none;
      font-weight: normal;
      font-size: 3rem;
      color: #ec7f37;
    }
  }

  .AboutUsContentPart {
    max-width: 1100px;
    margin: 50px auto 50px auto;

    p {
      margin-top: 110px;
      text-decoration: none;
      font-weight: normal;
      font-size: 21px;
      color: #5c5c5c;
      word-break: break-word;
      word-wrap: break-word;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    blockquote {
      max-width: 600px;
      margin: 3rem auto;
      text-align: center;

      h3 {
        &::before {
          content: "";
          width: 40px;
          height: 40px;
          background-image: url("../img/icon.svg");
          background-size: cover;
          display: block;
          opacity: 0.25;
          margin: 0 auto 1rem;
        }

        text-decoration: none;
        font-weight: normal;
        font-size: 1.5rem;
        word-break: break-word;
        color: #ec7f37;

        &::after {
          content: "";
          width: 40px;
          height: 40px;
          background-image: url("../img/icon.svg");
          background-size: cover;
          display: block;
          opacity: 0.25;
          transform: rotateY(180deg);
          margin: 1rem auto 0;
        }
      }
    }
  }
}
