@media (min-width: 576px) {
  .show .modal-dialog {
    max-width: 1100px;
    padding: 20px;
    margin-top: 100px;
    .modal-content {
      padding: 20px;
      border-radius: 28px;
      border: none;
      .modal-header {
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
        border: none;
        div {
          width: 100%;
          margin: auto;
        }
        h1 {
          color: #5c5c5c;
        }
      }
      .modal-body {
        width: 100%;
        max-width: 1060px;
        margin: auto;
        padding: 20px 50px;

        h5 {
          text-align: center;
          margin-top: 50px;
          text-decoration: none;
          font-weight: normal;
          font-size: 21px;
          color: #ec7f37;
          word-break: break-word;
          word-wrap: break-word;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
        }

        .ContactFormPersonalInfo {
          display: flex;
          justify-content: space-between;
          .form-group {
            color: #495057;
            //margin: 10px;
            .selectContactForm {
              display: block;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
              -webkit-transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            }
          }
        }
      }
    }
    .checkboxContainerItem {
      margin: 20px 0;
      display: flex;
      .form-check {
        margin-right: 20px;
      }
      .form-check-input {
        margin-top: 0;
      }
      .legalLink {
        color: #495057;
        display: flex;
        button {
          border: none;
          background-color: #fff;
          padding: 0;
          margin-left: 5px;
          color: #495057;
          font-weight: bold;
          &:hover {
            color: #ec7f37;
          }
        }
      }
    }
    .btn.btn-primary {
      width: 100%;
      color: #ffffff;
      outline: none;
      border: none;
      background-color: #ec7f37;
      &:hover {
        background-color: rgba(236, 127, 55, 0.5);
      }
    }
  }
}

@media (min-width: 576px) {
  .fade .modal-dialog {
    max-width: 1100px;
    padding: 20px;
    margin-top: 100px;

    .modal-content {
      padding: 20px;
      border-radius: 28px;
      border: none;
      .modal-header {
        padding: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        border: none;
      }
      .modal-body {
        width: 100%;
        max-width: 1060px;
        margin: auto;
        padding: 20px 50px;

        h5 {
          text-align: center;
          margin-top: 50px;
          text-decoration: none;
          font-weight: normal;
          font-size: 21px;
          color: #ec7f37;
          word-break: break-word;
          word-wrap: break-word;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
        }

        .ContactFormPersonalInfo {
          display: flex;
          justify-content: space-between;
          .form-group {
            color: #495057;
            //margin: 10px;
            .selectContactForm {
              display: block;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
              padding: 0.375rem 0.75rem;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              color: #495057;
              background-color: #fff;
              background-clip: padding-box;
              border: 1px solid #ced4da;
              border-radius: 0.25rem;
              -webkit-transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            }
          }
        }
      }
    }
    .checkboxContainerItem {
      margin: 20px 0;
      display: flex;
      .form-check {
        margin-right: 20px;
      }
      p {
        color: #495057;
        a {
          color: #495057;
          font-weight: bold;
          &:hover {
            color: #ec7f37;
          }
        }
      }
    }
    .btn.btn-primary {
      width: 100%;
      color: #ffffff;
      outline: none;
      border: none;
      background-color: #ec7f37;
      &:hover {
        background-color: rgba(236, 127, 55, 0.5);
      }
    }
  }
}
