.nav {
  margin-top: 20px;

  a {
    font-size: 18px;
  }
}

.admindashboard-cont {
  background: rgb(255, 255, 255);
  border: none;
  .navigationBar {
    background-color: white;
  }

  .celled.table tr th {
    font-size: 18px;
    color: #393939;
    height: 80px;
  }
  .center-block {
    text-align: center;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show {
    color: #fff;
    background-color: #ec7f37;
    border: none;
  }
  .nav-link {
    color: #969696;
  }

  .ui.celled {
    width: 70%;
    margin: 50px 15% auto;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    position: absolute;
    overflow: auto;
    block-size: 43px;
  }
  .ui.celled.table {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-top: 50px;
  }
  .ui.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin: auto;
  }
  .ui.table td {
    padding: 20px 0;
    text-align: center;
    color: #393939;
  }

  .ui.table thead th {
    text-align: center;
  }
  .ui.secondary.button {
    font-size: 13px;
    width: 90px;
  }
  .ui.red.button {
    font-size: 13px;
    width: 90px;
  }
}
