.AdminRequests {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    overflow: auto;
  }
  
  .app-navigationBar {
    background: #1D3B8B;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    
    ul {
      align-self: center;
      display: flex;
      list-style: none;
      li {
        margin-right: 20px;
        a {
          text-decoration: none;
          font-family: Ropa Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 24px;
          color: #FFFFFF;
        }
      }
    }
  }
  // .top-table {
  //   border: 1px solid red;
  //   font-family: Ropa Sans,sans-serif;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  

    // .labelD{
    //   margin-left: 19px;
    //   font-family: Ropa Sans,sans-serif;
    //   font-size: 36px;
    //   color: white;
    //   text-decoration: none;
    // }
    // .labelC{
    //   font-family: Ropa Sans,sans-serif;
    //   font-size: 50px;
    //   color: white;
    // }
    // .labelI{
    //   font-family: Ropa Sans,sans-serif;
    //   font-size: 36px;
    //   color: white;
    // }

  .head {
    height: 58px;;
    background-color: rgb(0, 0, 134);
  }
  
  // .table{
  //   width: 830px;
  //   height: 350px;
  //   padding: 60px 20px;
  //   margin-top: 150px;
  //   left: 50%;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   justify-items: center;
  //   position: absolute;
  //   transform: translateX(-50%);
  //   background: rgba(29, 59, 139, 0.1);
  //   border-radius: 15px;
  // }
  
  .tr, td {
    font-family: Ropa Sans,sans-serif;
    width: 180px;
    height: 50px;
    border: 1px solid rgb(200, 205, 250);
    border-radius: 9px;
  }
  
  .title {
    font-size: 22px;
    color: rgb(201, 0, 201);
  }
  
  .input {
    font-size: 18px;
    color: rgb(0, 104, 202);
    text-align: center;
  }
  
  .top {
    font-family: Ropa Sans,sans-serif;
    font-size: 35px;
    color: rgb(241, 155, 85);
    text-align: left;
    margin-left: 10px;
  }
  .main-table {
    margin-left: auto;
    margin-right: auto;
  }
  

  
  .cgroup-icon {
    block-size: 43px;
    background-color: rgb(255, 254, 176);
    border: 0px solid transparent;
    border-radius: 50%;
  }

  .dgroup-icon {
    block-size: 43px;
    background-color: rgb(248, 206, 167);
    border: 2px solid rgb(250, 140, 89);
    border-radius: 50%;
  }

  .fas {
    margin-left: 40%;
    font-size: 20px;
  }
  
  // .font-border {
  //   width: 300px;
  //   border: 2px solid red;
  //   border-radius: 20px;
  // }
  
  .button {
    background-color: rgb(195, 228, 255);
    border-radius: 9px;
    width: 38px;
    height: 30px;
  }
  
  .accept {
    font-size: 25px;
  }