.container-app {
  width: 100%;
  height: 100vh;
  //background-color: white;
  background: url("../img/header.jpg") no-repeat;
  background-size: cover;
  .centerWelcomeCont {
    width: 100%;
    text-align: center;
    z-index: 1;
    .textCont {
      position: relative;
      top: 100px;
      width: 100%;
      max-width: 1180px;
      height: 514px;
      margin: 0 auto 0 auto;
      background: rgba(196, 196, 196, 0.6);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      h1 {
        margin: 0;
        text-align: center;
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 144px;
        line-height: normal;
        color: #ffffff;
      }
    }
    button {
      position: relative;
      background: rgba(0, 0, 0, 0);
      border: none;
      margin: 100px;
      &:focus {
        outline: none;
      }
      a {
        text-decoration: none;
        background: rgba(0, 0, 0, 0);
        color: #ffffff;
        display: flex;
        align-items: center;
        h3 {
          margin: 0;
        }
        .letterLeft {
          font-family: Ropa Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 72px;
          line-height: normal;
          color: #ffffff;
        }
        .letterV {
          font-family: Ropa Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: normal;
          color: #ffffff;
        }
        .letterRight {
          font-family: Ropa Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 72px;
          line-height: normal;
          color: #ffffff;
          transform: scale(-1, 1);
        }
      }
    }
  }
}
