.ConfirmationPageCont {
  width: 722px;
  //height: 636px;
  //background: #ffffff;
  border-radius: 15px;
  position: relative;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  justify-self: center;
  .invalidToken {
    color: #da9446;
    margin: 50px auto;
  }

  .ValidatingCont {
    color: #da9446;
    margin: 50px auto;
  }
  .verifiedCont {
    color: #da9446;
    margin: 50px auto;
  }
}
