.FooterCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //background: #1a1c1d;
  .FooterContentBox {
    max-width: 1450px;
    width: 100%;
    //margin: auto;
    margin: 45px auto 45px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      h3 {
        margin-bottom: 10px;
        color: #5c5c5c;
      }
      a {
        text-decoration: none;
        color: #969696;
        &:hover {
          color: blue;
        }
      }
    }
  }
  @media only screen and (max-width: 800px) {
    .FooterContentBox {
      max-width: 500px;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      text-align: left;
      .FooterContentItemFour {
        position: relative;
        left: -100px;
      }
    }
  }
  @media only screen and (max-width: 470px) {
    .FooterContentBox {
      max-width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      text-align: left;
      .FooterContentItemFour {
        position: relative;
        left: 0;
      }
    }
  }
}
