.FooterCont {
  width: 100%;
  //position: absolute;
  //bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //background: #1a1c1d;
  .FooterContentBox {
    max-width: 1450px;
    width: 100%;
    //margin: auto;
    margin: 45px auto 45px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    .FooterContentItemOne {
      width: 50%;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: left;
        flex-direction: row;
        h3 {
          margin-bottom: 10px;
          color: #5c5c5c;
        }
        a {
          font-size: 20px;
          text-decoration: none;
          color: #969696;
          margin-right: 100px;
          &:hover {
            color: #ec7f37;
            cursor: pointer;
          }
        }
      }
    }
    .FooterContentItemTwo {
      width: 50%;
      flex-direction: column;
      justify-items: self-start;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        li{
          margin-right: 20px;
        }
        h3 {
          margin-bottom: 10px;
          color: #5c5c5c;
        }
        a {
          text-decoration: none;
          color: #969696;
          &:hover {
            color: #ec7f37;
            cursor: pointer;
          }
        }
      }
    }
  }
  .mainLegalContainerFooter {
    width: 100%;
    height: 50px;
    background-color: #969696;
    .legalContainerFooter {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      max-width: 1450px;
      margin: auto;
      color: #ffffff;

      div {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        color: #ffffff;
      }
    }
  }

  //@media only screen and (max-width: 800px) {
    //.FooterContentBox {
    //  max-width: 500px;
    //  margin: 20px auto;
    //  display: flex;
    //  justify-content: space-between;
    //  text-align: left;
    //  .FooterContentItemFour {
    //    position: relative;
    //    left: -100px;
    //  }
    //}
  //}
  /*@media only screen and (max-width: 470px) {
    .FooterCont {
      width: 100px;
    }
    .FooterContentBox {
      max-width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      text-align: left;
      .FooterContentItemFour {
        position: relative;
        left: 0;
      }
    }
  }*/
  @media only screen and (min-width: 120px) and (max-width: 400px) {
    .FooterCont {
      width: 100vw;
    }
    .FooterContentBox {
      max-width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: space-between;
      text-align: left;
      .FooterContentItemFour {
        position: relative;
        left: 0;
      }
    }
  }
}