.LoginCont {
  width: 100%;
  height: 100vh;
  align-items: center;
  background: #ffffff;
  .loginForm {
    margin: auto;
    text-align: center;
    button {
      margin: auto;
    }
  }

  .navigation {
    height: 85px;
    background: #1d3b8b;
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .labelUserPage {
      color: #ffffff;
      text-decoration: none;
      margin-left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-55%);

      .labelD {
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 26px;
        color: #ffffff;
      }

      .labelC {
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 48px;
        color: #ffffff;
      }

      .labelI {
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 32px;
        color: #ffffff;
      }
    }
  }

  .LoginModel {
    width: 630px;
    margin: 300px auto;
    vertical-align: center;
    background: rgba(29, 59, 139, 0.1);
    border-radius: 15px;
    padding: 30px;
    @media (max-width: 630px) {
      width: 400px;
    }

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    position: absolute;
    transform: translateX(-50%);*/

    .forgotPassDiv {
      margin: 40px 0;
      text-align: center;
      a {
        color: #1d3b8b;
      }
    }

    input {
      width: 515px;
      @media (max-width: 630px) {
        width: 305px;
      }
      height: 50px;
      margin: 15px auto 0 0;
      padding: 10px;
      border: none;
      border-radius: 8px;
      font-family: Ropa Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 18px;
      color: #5c5c5c;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        color: #5c5c5c;
      }
    }

    button {
      color: #ffffff;
      width: 160px;
      height: 55px;
      margin: 40px auto 0 0;
      background: /* rgba(218, 148, 70, 0.5) */ #1d3b8b;
      border: none;
      border-radius: 7px;

      &:focus {
        outline: none;
      }

      a {
        text-decoration: none;
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;
        color: #ffffff;
      }
    }
  }
  .nav-tabs {
    border-bottom: 1px solid #da9446;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    .nav-link {
      width: 40%;
      height: 70px;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-decoration: none;
      font-family: Ropa Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 30px;
      color: #1d3b8b;
    }
    .nav-link.active {
      background: none;
      text-decoration: none;
      font-family: Ropa Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 30px;
      color: #da9446;
    }
  }
}
