.userProfileImage {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.UserPage {
  background: #ffffff;
  width: 100%;
  height: 100vh;
  .navigationBarUserPage {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #1d3b8b;
    .label {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      align-self: center;
    }
    ul {
      align-self: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-right: 20px;
        align-self: center;
        a {
          text-decoration: none;
          font-family: Ropa Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 24px;
          color: #ffffff;
        }
      }
    }
  }
  .UserPageCont {
    margin: 0 105px 0 105px;
    padding-top: 20px;
    position: relative;
    .InfoCont {
      max-width: 1620px;
      display: flex;
      justify-content: space-between;
      .infoBoxCont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .SubBoxCont {
      width: 100%;
      min-width: 700px;
      margin-right: 20px;
      padding: 20px;
      display: flex;
      justify-content: left;
      justify-items: center;
      box-sizing: border-box;
      border-radius: 9px;
      border: 1px solid #e5e5e5;
      text-align: center;
    }
    .linksBoxCont {
      width: 100%;
      min-width: 600px;
      max-width: 800px;
      padding-left: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      .linksBoxItems {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
        }
        .linksBoxItem {
          display: flex;
          justify-content: left;
          align-items: center;
          margin: 10px;
          p {
            margin-left: 20px;
          }
        }
        a {
          display: flex;
          margin-left: 0px;
          justify-items: center;
        }
      }
      h1 {
        font-family: Ropa Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 36px;
        color: #da9446;
        margin-bottom: 10px;
      }
    }
  }
  .userImageUploadCont {
    position: relative;
    margin-right: 20px;
    label {
      width: 240px;
      height: 240px;
      display: block;
      &:hover {
        cursor: pointer;
      }

      input {
        width: 183px;
        visibility: hidden;
        &[type="file"] {
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  h2 {
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #da9446;
  }
  h3 {
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: rgba(29, 59, 139, 0.5);
  }
  h1 {
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: #da9446;
  }
  p {
    margin: 0;
    font-family: Ropa Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #5c5c5c;
  }
  .profileInfoCont {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    .profileInfoItem {
      text-align: left;
      display: flex;
      justify-content: space-between;
      h2 {
        display: inline;
      }
      p {
        display: inline;
      }
    }
    h2 {
      margin-right: 20px;
      font-family: Ropa Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #da9446;
    }
    p {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }
  hr {
    margin: 20px;
    background-color: #da9446;
  }
}
