@import "theme/TopNavigation";
//@import "theme/ContactUs";
@import "theme/LoginModel";
@import "theme/ForgotPasswordForm";
//@import "theme/RequestPage";
@import "theme/UserDashboardPage";
@import "theme/App";
@import "theme/UserCards";
@import "theme/ConfirmEmailMessage";
@import "theme/ConfirmationPage";
@import "theme/RegistrationForm";
@import "theme/UpdateUserProfileForm";
@import "theme/AdminDashboardPage";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}